{% extends 'global/base.html' %}

{% block title %}Sobre - Khauã Nascimento{% endblock %}

{% block content %}
<h1 class="mb-4">Sobre Mim</h1>
<p>Olá! Sou Khauã Nascimento, um entusiasta da música e aprendiz constante. Minha jornada inclui alguns cursos e interesses variados que me moldaram como profissional e pessoa.</p>
<p>Estou sempre em busca de novos desafios e oportunidades para expandir meus conhecimentos.</p>
<p>Sinta-se à vontade para explorar meu site e conhecer mais sobre meus cursos e interesses!</p>
{% endblock %}